@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF8F0;
  --foreground: #1F3763;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
